.kudo-card {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.kudo-card:hover {
    background-color: #f8f8f8;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.kudo-card-gif {
    margin-bottom: 16px;
}

.kudo-card-content h3{
    margin: 0;
    font-size: 19px;
    color: #333;
}

.kudo-card-content p {
    margin: 8px 0 0;
    color: #666;
}

.kudo-card-buttons {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.upvote-button {
    background-color: #535bf2;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.delete-card-button {
    color: white;
    background-color: #2e8b57;
    margin-left: 20px;
    padding-left: 4px;
    padding-right: 4px;
}
